/* Login.css */

.Login {
    display: flex;
    background-image: url("../Images/login_image.jpg");
    justify-content: center; 
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to right, #11cca9, #3498db); Updated gradient color schema */
  }
  
  .LoginBox {
    width: 50%;
    padding: 20px;
    background: linear-gradient(to right, #3498db, #11cca9); /* Updated gradient color schema */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 137, 161, 0.1);
    opacity: 1; 
    margin-left: 25%;
    margin-right: 25%; 

  }
  .optionLabel{
    text-align: center;
    color: gray;
    display: inline-block;


  }
  select {
    /* Add your styles here */
    padding: 5px;
    margin-right: 10px;
    background-color: #11cca9;
    border-radius: 20px;
}
  .LoginBox:hover {
    opacity: 1; /* Full opacity on hover */
    transform: scale(1.05); /* Popup effect on hover */
  }
  
  .Login h2 {
    text-align: center;
    color: #333333;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #1d08d9;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:hover,
  input:focus {
    border-color: #3498db; /* Updated border color on hover/focus */
  }
  
  .submitBut {
    background: #5eaef4; /* Updated button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  .genderLabel {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  .radioLabel {
    margin-right: 10px;
    color: #6dda07;
    margin-left: 0%;
  }

  .submitBut:hover {
    background: #3498db; /* Updated button color on hover */
  }
  
  p {
    text-align: center;
    margin-top: 20px;
    color: #555;
  }
  
  p a {
    color: #0b26f2; /* Updated link color */
    text-decoration: none;
    font-weight: bold;
  }
  
  p a:hover {
    text-decoration: underline;
  }

  .googleBut{
    display: flex;
    align-items: center;
    justify-content: center; 


  }
  /* Right side image link
  .img-link {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .img-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  
  .img-link:hover img {
    opacity: 0.7; /* Image fade-out effect on hover 
  } 
  */