.login-signup input,
.login-signup select,
.login-signup textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}
.login-signup select {
  background-color: #fff;
  padding: 3px;
  border: none;
}

.login-signup input:focus,
.login-signup textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #09C6F9 !important;
    outline-width: 0;
    font-weight: 400
}

.login-signup button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.login-signup .card {
    border-radius: 0;
    border: none
}

.login-signup  .card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
    background: white;
}

.login-signup .card2 {
    width: 50%;
    background-image: linear-gradient(to right, #09C6F9, #045DE9);
}

.login-signup #logo {
    width: 150px;
    height: 60px
}

.login-signup ::placeholder {
    color: #000 !important;
    opacity: 1
}

.login-signup :-ms-input-placeholder {
    color: #000 !important
}

.login-signup ::-ms-input-placeholder {
    color: #000 !important
}

.login-signup .form-control-label {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.login-signup .msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

.login-signup .btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #09C6F9, #045DE9);
    padding: 21px 30px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}

.login-signup .btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #09C6F9, #045DE9);
}

.login-signup .btn-white {
    border-radius: 50px;
    color: #045DE9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #045DE9 !important
}

.login-signup .btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #09C6F9, #045DE9);
}

.login-signup a {
    color: #000
}


@media screen and (max-width: 992px) {
    .login-signup .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .login-signup .card2 {
        width: 100%
    }

    .login-signup .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .login-signup .container {
        padding: 10px !important
    }

    .login-signup .card2 {
        padding: 50px
    }

    .login-signup .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}