
.carousel-inner{
  max-height: fit-content;
}
.carousel-item img {
  width: 100vw; /* 100% of the viewport width */
  height: 50vh; /* 50% of the viewport height */
  object-fit: cover; /* This will ensure the image covers the area and maintains aspect ratio */
  background-color: rgb(106, 225, 252);
}
.carousel-item h5{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

   .d-block w-100{
    width: 250px;
    height: auto;
   }
   