/*--------------------------------------------------------------
# startup
--------------------------------------------------------------*/
.startup{
  margin-top: 6rem;
}
.startup .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 100%;
  text-align: left;
}

.startup .member .pic {
  overflow: hidden;
  width: 200px;
  border-radius: 50%;
}

.startup .member .pic img {
  transition: ease-in-out 0.3s;
  height: 200px;
  width: 200px;
}


.startup .member:hover {
  transform: translateY(-10px);
}

.startup .member .member-info {
  padding-left: 30px;
}

.startup .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37517e;

}

.startup .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
  color: #444444;
}
.startup .member .cat{
  color: #444444;
}

.startup .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.startup .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #000;
}
.member strong{
  color: #37517e;
}

.startup .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.startup .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.startup .member .social a svg {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.startup .member .social a:hover {
  background: #47b2e4;
}

.startup .member .social a:hover svg {
  color: #fff;
}

.startup .member .social a+a {
  margin-left: 8px;
}

.select{
  background: #fff;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
}
.select option{
  padding: 10px;
}
