.equity-profile {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #0b7def;
    transform: translateY(100px);
    transition: opacity 3s ease, transform 1 ease;
  }
  
  .equity-title {
    color: #333;
    text-align: center;
  }
  
  .equity-details, .equity-trends, .equity-investors {
    margin-top: 20px;
  }
  
  .equity-details p {
    margin: 5px 0;
  }
  
  .investor-name {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .investor-name:hover {
    color: #007bff;
  }
  