/* Common styles */
body {
       background: linear-gradient(to right,  #2612d9,#3aa4ea); /* Updated gradient color schema */
    ;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
h3{
    text-align: left;
}
/* About Us Section */

.sectionBox {
    height:max-content;

    width: 90%;
    padding: 20px;
    background: linear-gradient(to right, #3498db, #11cca9); /* Updated gradient color schema */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 137, 161, 0.1);
    opacity: 1; 
    margin-left: 5%;
    margin-right: 5%; 

  }
 .CompanyOverviewBox{
    width: 90%;
    padding: 20px;
    background: linear-gradient(to right, #3498db, #11cca9); /* Updated gradient color schema */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 137, 161, 0.1);
    opacity: 1; 
    margin-left: 5%;
    margin-right: 5%; 
    text-align: left;
 }
 .sectionBox, .CompanyOverviewBox, .productsBox {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 3s ease, transform 0.5s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
.productsBox{
    width: 90%;
      padding: 20px;
    background: linear-gradient(to right, #3498db, #11cca9); /* Updated gradient color schema */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 137, 161, 0.1);
    opacity: 1; 
    margin-left: 5%;
    margin-right: 5%; 
    text-align: left;
}

.card1{
    text-align: center  ;
    border-radius: 10px;
    
padding-bottom: 3%;
}

.visible {
    opacity: 0.8;
    transform: translateY(0);
    visibility: visible;
}
