.cart-container{
    margin-top: 6rem;
    background:#eee;
}
.cart-title{
    color: #013289;
}
.cart-title span{
    color: red;
}
.size span {
    font-size: 11px;
  }
  
  .color span {
    font-size: 11px;
  }
  
  .product-deta {
    margin-right: 70px;
  }
  
  .gift-card:focus {
    box-shadow: none;
  }
  
  .pay-button {
    color: #fff;
  }
  
  .pay-button:hover {
    color: #fff;
  }
  
  .pay-button:focus {
    color: #fff;
    box-shadow: none;
  }
  
  .text-grey {
    color: #a39f9f;
  }
  
  .qty i {
    font-size: 11px;
  }
.decrease-btn , .increase-btn, .remove-btn{
background: #eee;
border: none;
margin: 0 2px;
padding: 5px 15px;
color: red;
outline: none;
}