.startup-info{
  margin-top: 2rem;
}
.startup-info .info {
    border-top: 3px solid #4154f1;
    border-bottom: 3px solid #4154f1;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    text-align: left !important;
  }
  
  .startup-info .info svg {
    font-size: 20px;
    color: #4154f1;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    padding: 10px;
  }
  
  .startup-info .info h4 {
    padding: 0 0 0 60px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #013289;
  }
  
  .startup-info .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #013289;
  }
  
  .startup-info .info .card p {
    padding-top: 5px;
  }
  
  .startup-info .info .social-links {
    padding-left: 60px;
  }
  
  .startup-info .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .startup-info .info .social-links a:hover {
    background: #4154f1;
    color: #fff;
  }
  
  .startup-info .info .card1:hover i{
    background: #4154f1;
    color: #fff;
  }

  .startup-info .chart {
    width: 100%;
    border-top: 3px solid #4154f1;
    border-bottom: 3px solid #4154f1;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }

  
  .startup-info  label {
    padding-bottom: 8px;
    text-align: left;

  }
  
  .startup-info input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .startup-info  input:focus {
    border-color: #4154f1;
  }
  
  .startup-info  input {
    height: 44px;
  }

  .startup-info  button[type=submit] {
    background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .startup-info  button[type=submit]:hover {
    background: #209dd8;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
.qna,
  .card1 button{
    background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    border: 0;
    padding: 12px 20px;
    color: #fff;
    transition: 0.4s;
    margin: 0 0 0 10px;
  }
.info.investment h4{
  font-size: 18px;
}
  .info h4 span{
    font-weight: normal;
    font-size: 16px;
    color:black;
  }
  