.startup {
  margin-top: 5rem;
}

.profile-options .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.profile-options .feature-box h3 {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}

.profile-options .feature-box svg {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.profile-options .feature-box:hover svg {
  background: #4154f1;
  color: #fff;
}

.equity label {
  font-weight: bold;
  font-size: 22px;
  color: #012970;
}

.equity input {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  width: 30%;
  margin: 0 auto
}

.equity input:focus {
  border-color: #4154f1;
}

.equity input {
  height: 44px;
}

.equity button[type=submit],
.edit-profile button {
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.equity button[type=submit]:hover {
  background: #209dd8;
}


.edit-profile label {
  font-weight: bold;
  text-align: left;
}

.edit-profile input,
.edit-profile textarea {
  background-color: #e5e7f5;
  border-radius: 50px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
  margin: 10px 0;
}

.edit-profile input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #09C6F9 !important;
  outline-width: 0;
  font-weight: 400;

}