.section_qna {
    margin-top: 6rem;
    background: #f3f5fa;
    padding: 1rem;
    
}
.payment input,
.section_qna input{
    border-radius: 50px;
    background-color: #F3E5F5;
    padding: 8px 20px;
}
.payment input:focus,
.section_qna input:focus{
    outline: none;
    border: 1px solid #6b027b;
    box-shadow: none;
}

.faq .faq-list {
    padding: 0 100px;
    text-align: left;
}
.pay-now{
    padding: 10px 30px;
    border-radius: 50px;
    margin-top: 20px;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    color: #fff;
    font-weight: bold;
    border: none;
    outline: none;
}


.faq .faq-list ul {
    padding: 0;
    list-style: none;
}


.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
    color: #013289;
    font-weight: bold;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #4154f1;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #37517e;
    transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
    color: #47b2e4;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}


  

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}